*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    color: white;
    background-color: #21232a;
    font-size: 1.3rem;
    padding: 70px;
}

button{
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 10px;
}